.single-chat-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;

  & .conversation-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;

    &-picture {
      flex: 0 0 40px;
    }

    &-name {
      flex-grow: 1;
    }

    &-actions {

      & .p-button {
        font-size: 25px;
      }
    }
  }

  & .conversation-chats {
    flex-grow: 1;
    padding: 10px;
    max-height: calc(100vh - 205px);
    overflow: auto;

    & .single-message-item {
      background-color: white;
      border-radius: 20px;
      padding: 5px 15px 2px 15px;
      width: fit-content;
      margin-bottom: 15px;

      &.left-side {
        margin-right: auto;
      }

      &.right-side {
        margin-left: auto;
      }

      & .message-time {
        padding-right: 2px;
        font-size: 10px;
        text-align: right;
      }
    }
  }

  & .single-message-input-wrapper {
    position: relative;
    max-width: 650px;
    margin: auto;
  
    & .button-icon {
      padding: 1px;
      font-size: 22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  
      &.attachement {
        left: 10px;
      }
  
      &.emoji {
        right: 50px;
      }
  
      &.send {
        font-size: 20px;
        right: 10px;
        padding: 5px 7px;
        border-radius: 50%;
      }
    }
  
    & .input-field {
      width: 100%;
      padding: 10px 0;
      padding-right: 80px;
      padding-left: 40px;
      border-radius: 25px;
    }
  }
}