.chat-list-container {
    margin: 15px 0;
    height: calc(100vh - 210px);
    overflow-y: auto;
}

.chat-list-single-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    column-gap: 10px;
    text-align: left;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    overflow: hidden;

    & .single-item {
        &-picture {
            overflow: hidden;

            & img {
                height: 50px;
                width: 50px;
            }

            & .p-avatar {
                height: 50px;
                width: 50px;
            }
        }

        &-details {
            flex-grow: 1;

            &-name {
                font-size: 18px;
                font-weight: 600;
            }

            &-message {
                max-width: 300px;
                font-size: 15px;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-status {
            &-time {
                font-size: 15px;
                font-weight: 400;
            }

            &-new-message {
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}
