.input-field-wrapper {
    position: relative;

    & .input-field-icon {
        position: absolute;
        left: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    & .p-inputtext {
        padding-left: 2rem;
    }
}
