@layer bootstrap, primeReact;

/* FONT FAMILY */
@import "./assets/fonts/roboto/roboto.css";

@import "primereact/resources/themes/lara-light-blue/theme.css" layer(primeReact);
@import "bootstrap/dist/css/bootstrap.css" layer(bootstrap);

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #f1efef;

  font-family: Roboto, sans-serif;
}