@layer bootstrap, primeReact;

/* FONT FAMILY */
@import "./assets/fonts/roboto/roboto.css";

@import "primereact/resources/themes/mdc-light-indigo/theme.css" layer(primeReact);
@import "bootstrap/dist/css/bootstrap.css" layer(bootstrap);

@import './utils/custom.scss';

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #e6e6e6;

  font-family: Roboto, sans-serif;
}