/* FONT FAMILY */
@import "./assets/fonts/roboto/roboto.css";

/* Import PrimeReact theme */
@import 'primereact/resources/themes/lara-light-blue/theme.css';

/* Add Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #f1efef;

  font-family: Roboto, sans-serif;
}

* {
  ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }
 
  ::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
     background-color: #CECECE;
  }
}